* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b5cf6;
  height: 60px;
  padding: 0px 40px;
  color: #ffffff;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  z-index: 3;
}
header #name {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1090px) {
  header #name {
    max-width: 300px;
  }
}
header #name .logo {
  height: 35px;
  width: 60px;
}
header #name .logo:hover {
  cursor: pointer;
}
header #name .divisoria_logo {
  margin-top: 1px;
  width: 3px;
  height: 30px;
  background-color: #ffffff;
  display: inline-block;
}
header #name .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}
header #name .name:hover {
  cursor: pointer;
}
header #listas {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1.5%;
}
@media (max-width: 914px) {
  header #listas {
    display: none;
  }
}
header #listas #nav_list ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}
header #listas #nav_list ul li {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0;
  transition: color 0.2s ease;
}
header #listas #nav_list ul li a {
  color: white;
  text-decoration: none;
}
header #listas #nav_list ul li:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
header #listas .select {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
}
header #listas .select .bar {
  height: 100%;
  background-color: #ffffff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  width: 0;
  transition: all 0.2s ease;
}
header #menu_mobile {
  display: none;
}
@media (width <= 425px) {
  header #menu_mobile {
    display: block;
  }
  header #menu_mobile .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  header #menu_mobile .checkbox-toggle:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  header #menu_mobile .checkbox-toggle:checked + .hamburger > div:before, header #menu_mobile .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  header #menu_mobile .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
  }
  header #menu_mobile .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
  }
  header #menu_mobile .checkbox-toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
  header #menu_mobile .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  header #menu_mobile .checkbox-toggle:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  header #menu_mobile .hamburger {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #menu_mobile .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #menu_mobile .hamburger > div:before, header #menu_mobile .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
  }
  header #menu_mobile .hamburger > div:after {
    top: 10px;
  }
  header #menu_mobile .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #menu_mobile .menu > div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: rgba(41, 98, 255, 0.97);
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #menu_mobile .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #menu_mobile .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
  }
  header #menu_mobile .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
  }
  header #menu_mobile .menu > div > div > ul > li > a {
    text-decoration: none;
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 0.4s ease;
    color: white;
    font-weight: 600;
    letter-spacing: 1.1px;
  }
  header #menu_mobile .menu > div > div > ul > li > a:hover:after {
    width: 100%;
  }
  header #menu_mobile .menu > div > div > ul > li > a:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(228.5, 228.5, 228.5);
    transition: width 0.4s ease;
  }
}

#imagem_inicial {
  margin-top: 60px;
}
@media (max-width: 914px) {
  #imagem_inicial .img_note {
    display: none;
  }
}
#imagem_inicial .img_tablet {
  display: none;
}
@media (max-width: 914px) and (min-width: 376px) {
  #imagem_inicial .img_tablet {
    display: block;
  }
}
#imagem_inicial .img_mobile {
  display: none;
}
@media (max-width: 375px) {
  #imagem_inicial .img_mobile {
    display: block;
  }
}
#imagem_inicial .main_information {
  position: absolute;
  top: 8rem;
  right: 3.5rem;
}
@media (max-width: 1000px) {
  #imagem_inicial .main_information {
    right: 2rem;
    top: 7rem;
  }
}
@media (max-width: 684px) {
  #imagem_inicial .main_information {
    display: none;
  }
}
#imagem_inicial .main_information h1 {
  font-size: 70px;
  color: white;
}
@media (max-width: 1010px) {
  #imagem_inicial .main_information h1 {
    font-size: calc(70px - 25%);
  }
}
@media (max-width: 914px) {
  #imagem_inicial .main_information h1 {
    font-size: calc(70px - 175%);
  }
}
#imagem_inicial .main_information p {
  color: white;
  text-align: right;
  font-size: 30px;
  margin-right: 15px;
}
@media (max-width: 914px) {
  #imagem_inicial .main_information p {
    font-size: calc(30px - 40%);
    margin-right: 5px;
  }
}
#imagem_inicial .main_information_tm {
  display: none;
}
@media (max-width: 684px) {
  #imagem_inicial .main_information_tm {
    background-color: #3b76ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -1px;
    padding: 15px 0px;
    color: white;
    font-size: 30px;
  }
}

.faixa-icones {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 15px auto;
  overflow: hidden;
  position: relative;
}
.faixa-icones::before, .faixa-icones::after {
  content: "";
  position: absolute;
  top: 0;
  width: 160px;
  height: 100%;
  z-index: 1;
}
.faixa-icones::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}
.faixa-icones::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}
.faixa-icones .trilha {
  display: flex;
  gap: 3rem;
  width: -moz-max-content;
  width: max-content;
  animation: deslizar-direita 20s linear infinite;
}
.faixa-icones .trilha img {
  height: 70px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#texto_apresentacao #textos {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#texto_apresentacao #textos .bloco {
  padding: 0px 5%;
  width: 55%;
  line-height: 1.1;
}
@media (max-width: 914px) {
  #texto_apresentacao #textos .bloco {
    width: auto;
    padding: 3% 15% 2% 15%;
  }
}
#texto_apresentacao #textos .bloco:nth-child(even) {
  margin-left: auto;
  text-align: right;
}
#texto_apresentacao #textos .bloco .subtitulo {
  font-size: 28px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
#texto_apresentacao #textos .bloco .texto {
  color: rgb(100, 100, 100);
  font-size: 22px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 914px) {
  #texto_apresentacao #textos {
    height: 620px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  #texto_apresentacao #textos .bloco {
    text-align: center;
  }
  #texto_apresentacao #textos .bloco:nth-child(even) {
    margin: 0;
    text-align: center;
  }
}

#last_diamonds {
  padding: 0px 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
#last_diamonds .titulo-diamantes {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}
#last_diamonds .cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 290px));
  row-gap: 40px;
}
#last_diamonds .cards .card {
  justify-self: center;
  width: 250px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}
#last_diamonds .cards .card:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s;
}
#last_diamonds .cards .card_topo {
  text-align: center;
  padding: 5px;
}
#last_diamonds .cards .card_topo h2 {
  margin: 0;
  font-size: 26px;
}
#last_diamonds .cards .card_topo p {
  font-size: 21px;
  margin: 0;
}
#last_diamonds .cards .card_imagem {
  height: 180px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
#last_diamonds .cards .card_base {
  padding: 15px 0px 20px 0px;
  text-align: center;
}
#last_diamonds .cards .card_base p {
  font-size: 18px;
  margin-bottom: 10px;
}
#last_diamonds .cards .card_base .botao {
  display: flex;
  border: none;
  background-color: royalblue;
  color: white;
  padding: 0px 30px;
  border-radius: 1rem;
  font-size: 18px;
  height: 25px;
  align-items: center;
  justify-self: center;
  font-weight: bolder;
  cursor: pointer;
}
#last_diamonds .cards .card_base .botao:hover {
  background-color: rgba(138, 82, 251, 0.7450980392);
  transition: 0.3s;
}
#last_diamonds .cards .outras_empresas {
  grid-column: 1/-1;
  color: gray;
  font-size: 21px;
}
#last_diamonds .cards .outras_empresas a:hover {
  color: darkblue;
}

@keyframes deslizar-direita {
  0% {
    transform: translateX(calc(-25% - 3rem / 2));
  }
  100% {
    transform: translateX(0);
  }
}
@font-face {
  font-family: "eastman_black";
  src: url("../assets/font/eastman/EastmanRomanTrial-Black.otf") format("opentype");
}
@font-face {
  font-family: "eastman_blackItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_bold";
  src: url("../assets/font/eastman/EastmanRomanTrial-Bold.otf") format("opentype");
}
@font-face {
  font-family: "eastman_boldItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_demiBold";
  src: url("../assets/font/eastman/EastmanRomanTrial-DemiBold.otf") format("opentype");
}
@font-face {
  font-family: "eastman_demiBoldItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-DemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_extraBold";
  src: url("../assets/font/eastman/EastmanRomanTrial-Extrabold.otf") format("opentype");
}
@font-face {
  font-family: "eastman_extraBoldItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-ExtraboldItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_extraLight";
  src: url("../assets/font/eastman/EastmanRomanTrial-Extralight.otf") format("opentype");
}
@font-face {
  font-family: "eastman_extraLightItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-ExtralightItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_heavy";
  src: url("../assets/font/eastman/EastmanRomanTrial-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "eastman_heavyItalic";
  src: url("../assets/font/eastman/EastmanRomanTrial-HeavyItalic.otf") format("opentype");
}
@font-face {
  font-family: "eastman_regular";
  src: url("../assets/font/eastman/EastmanRomanTrial-Regular.otf") format("opentype");
}/*# sourceMappingURL=mainStyles.css.map */