* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding-left: 30px;
  height: 3.5rem;
  top: 0;
  background-color: #3054a1;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.64);
  color: #fff;
}
header #logo img {
  height: 2.5rem;
}
header #menu {
  display: flex;
  align-items: center;
  top: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
header #menu .menuList {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header #menu .menuList li {
  padding: 0 15px;
  cursor: pointer;
}
header #menu .menuList li:hover {
  transform: scale(1.15);
  transition: 0.4s;
}
header #menu .hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  background-color: transparent;
}
header #menu .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
}
header #menu #blackout {
  display: none;
}
header #menu .perfil {
  background-color: #0077d8;
  height: 3.5rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}
header #menu .perfil .sem_login label {
  cursor: pointer;
}
header #menu .perfil .sem_login label:hover {
  text-decoration: underline;
}
header #menu .perfil .com_login {
  display: none;
}
header #menu .perfil .com_login label {
  cursor: pointer;
}

#intro {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}
#intro h1 {
  margin: -3rem 0px 5rem 0px;
  text-align: center;
}
#intro .info {
  display: flex;
  padding: 0px 10%;
  gap: 25%;
  height: 10rem;
}
#intro .info p {
  width: 40%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
#intro .info p label {
  font-size: 18px;
  font-weight: bold;
}
#intro .info .containerImagem {
  border: 1px solid black;
  width: 30%;
}

#empresasPremium {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 2rem;
}
#empresasPremium h1 {
  text-align: center;
  margin-bottom: 3rem;
  padding: 10px;
}
#empresasPremium article {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  align-items: center;
}
#empresasPremium article.empresa1 {
  flex-direction: row;
}
#empresasPremium article.empresa2 {
  flex-direction: row-reverse;
}
#empresasPremium article .imagem {
  border: 1px solid black;
  max-width: 150px;
}
#empresasPremium article .imagem img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#empresasPremium article .infoEmpresa1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#empresasPremium article .infoEmpresa1 h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#empresasPremium article .infoEmpresa1 h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#empresasPremium article .infoEmpresa1 h3 button {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#empresasPremium article .infoEmpresa1 p {
  margin: 0;
}
#empresasPremium article .infoEmpresa2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
#empresasPremium article .infoEmpresa2 h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#empresasPremium article .infoEmpresa2 h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#empresasPremium article .infoEmpresa2 h3 button {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#empresasPremium article .infoEmpresa2 p {
  margin: 0;
}

#popup {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.449);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
#popup .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#popup .card .parteSup {
  display: flex;
  background-color: #3054a1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 26px 0px 17px 0px;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: inset 0px -5px 11px -8px #000000;
}
#popup .card .parteSup label {
  position: absolute;
  margin: 0px 0px 7.6rem 22rem;
  font-size: 20px;
  font-weight: 600;
}
#popup .card .parteSup label:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}
#popup .card .parteInf {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px 20px 30px 20px;
}
#popup .card .parteInf h1 {
  margin-bottom: 20px;
}

/* ============================= */
/*         RESPONSIVIDADE        */
/* ============================= */
@media (max-width: 768px) {
  header {
    position: fixed;
    flex-direction: row;
    padding: 0 15px;
  }
  header #menu .menuList {
    display: none;
  }
  header #menu .hamburger {
    display: flex;
  }
  header #menu #blackout {
    display: none;
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.449);
    z-index: 0;
  }
  header #menu #blackout .menuLateral {
    display: flex;
    background-color: white;
    position: absolute;
    top: -0.1rem;
    bottom: 0;
    right: -10rem;
    width: 10rem;
    padding: 2rem 0rem;
    justify-content: center;
    z-index: 2;
  }
  header #menu #blackout .menuLateral .menuListLateral {
    list-style: none;
    text-align: center;
  }
  header #menu #blackout .menuLateral .menuListLateral li {
    padding: 8px 10px;
    border-bottom: 1px solid black;
  }
  header #menu .perfil {
    display: none;
  }
  #intro .info {
    padding: 0;
    gap: 10%;
    justify-content: center;
  }
  #empresasPremium {
    padding: 0 1rem;
  }
  #empresasPremium article {
    flex-direction: column;
    align-items: center;
  }
  #empresasPremium article .infoEmpresa1, #empresasPremium article .infoEmpresa2 {
    flex: 2 1 200px;
  }
  #empresasPremium article .imagem {
    max-width: 100%;
    flex: 1 1 120px;
  }
}
@media (max-width: 480px) {
  header #logo img {
    height: 2rem;
  }
  header .menuList {
    width: 100%;
  }
  #intro h1 {
    margin: 0px 0px 3rem 0px;
  }
  #intro .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15%;
    width: auto;
    height: auto;
  }
  #intro .info p {
    width: auto;
    margin-bottom: 2rem;
  }
  #intro .info .containerImagem {
    width: -moz-max-content;
    width: max-content;
  }
  #popup .card {
    width: 20rem;
    font-size: 15px;
  }
  #popup .card .parteSup label {
    margin: 0px 0px 6rem 17rem;
  }
}/*# sourceMappingURL=mainStyles.css.map */